<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <title>programm</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <center class="slova"><h1></h1></center>
    <style>
        body{
            background-image: url("{{ url_for('static', filename='img//fon.png') }}");
            height:50%;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
            margin-top:45%;
        }
    </style>

</head>
<body>
    <script>
        var audio1 = new Audio('{{ url_for('static', filename='выберите файл.wav') }}');
        var audio0 = new Audio('{{ url_for('static', filename='ПРИВЕТ.wav') }}');
        var audio2 = new Audio('{{ url_for('static', filename='Файл зашифрован.wav') }}');
        var audio3 = new Audio('{{ url_for('static', filename='Файл расшифрован.wav') }}');
        var audio4 = new Audio('{{ url_for('static', filename='Ошибка, повторите запрос.wav') }}');
        var audio5 = new Audio('{{ url_for('static', filename='подпись.wav') }}');
        let operation = 0;

        function send_encrypt_cmd(file_name){
            $.ajax({
                url:"/encrypt",
                method: "GET",
                data: {'cmd': 'encrypt', 'filename': file_name}
            }).fail(function(data, textStatus, jqXHR){

            }).done(function(data, textStatus, jqXHR){
                if(data['success'] == true){
                    audio2.play();
                if(data['success'] == false){
                    audio4.play();
                    console.log(data);
                }
            }});
        }

        function send_decrypt_cmd(file_name){
            $.ajax({
                url:"/decrypt",
                method: "GET",
                data: {'cmd': 'decrypt', 'filename': file_name}
            }).fail(function(data, textStatus, jqXHR){

            }).done(function(data, textStatus, jqXHR){
                if(data['success'] == true){
                    audio3.play();
                }
                else{
                    audio4.play();
                }
                console.log(data);
            });
        }

        function send_sign_cmd(file_name){
            $.ajax({
                url:"/sign",
                method: "GET",
                data: {'cmd': 'sign', 'filename': file_name}
            }).fail(function(data, textStatus, jqXHR){

            }).done(function(data, textStatus, jqXHR){
                if(data['success'] == true){
                    audio5.play();
                if(data['success'] == false){
                    audio4.play();
                    console.log(data);
                }
            }});
        }

        function find_key_words(text){
            if (text.toUpperCase().includes('ЗАШИФРОВАТЬ') || text.toUpperCase().includes('ENCRYPT') || text.toUpperCase().includes('ЗАКОДИРОВАТЬ') || text.toUpperCase().includes('ЗАШИФРУЙ') || text.toUpperCase().includes('ШИФРОВАТЬ') || text.toUpperCase().includes('КОДИРОВАТЬ') || text.toUpperCase().includes('ЗАШИФРОВКА')){
                audio1.play();
                return 1;
            }
            if (text.toUpperCase().includes('ПРИВЕТ') || text.toUpperCase().includes('HELLO')) {
                console.log('ПРИВЕТ!');
                audio0.play().catch(function(error) {
                    console.log(error);
                });
                return 3;
            }
            if (text.toUpperCase().includes('РАСШИФРОВАТЬ') || text.toUpperCase().includes('РАСКОДИРОВАТЬ') || text.toUpperCase().includes('DECRYPT') || text.toUpperCase().includes('РАСШИФРУЙ') || text.toUpperCase().includes('ДЕШИФРУЙ') || text.toUpperCase().includes('ДЕШИФРОВАТЬ') || text.toUpperCase().includes('ДЕШИФРИРОВАТЬ') || text.toUpperCase().includes('ДЕШИФРОВКА') || text.toUpperCase().includes('РАСШИФРОВКА')){
                audio1.play();
                return 2;
            }

            if (text.toUpperCase().includes('ПОДПИСЬ')) {
                audio1.play();
                return 4;
            }
        }

        function execute_cmd(cmd_num, text){
            switch(cmd_num){
                case 1: send_encrypt_cmd(text); break;
                case 2: send_decrypt_cmd(text); break;
                case 4: send_sign_cmd(text); break;
            }
        }


        window.SpeechRecognition = window.webkitSpeechRecognition || window.SpeechRecognition;
        if ('SpeechRecognition' in window) {
          console.log("speech recognition API supported");
        } else {
          console.log("speech recognition API not supported");
        }
        const recognition = new window.SpeechRecognition();
        recognition.lang = 'ru-RU';
        recognition.continuous = true;

        recognition.onresult = (event) => {
          const speechToText = event.results[0][0].transcript;
          console.log(speechToText);
          if (operation > 0 && operation != 3){
            // отправить на сервер название файла
            filename = speechToText.replace(/\s+/g, '');
            execute_cmd(operation, filename);
            operation = 0;
          } else{
            //искать ключевые слова
            operation = find_key_words(speechToText);
          }
          recognition.stop();
        }

        recognition.onend = (event) =>{
            recognition.start();
        }
        recognition.start();
    </script>
</body>
</html>
