<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <title>кока</title>
    <h1>Добро пожаловать! Говорите!!</h1>
</head>
<body>
    <script>
        var audio1 = new Audio('{{ url_for('static', filename='Выберите файл.wav') }}');
        var audio0 = new Audio('{{ url_for('static', filename='Hello.wav') }}');
        var audio2 = new Audio('{{ url_for('static', filename='Encr.wav') }}');
        var audio3 = new Audio('{{ url_for('static', filename='Error.wav') }}');
        let operation = 0;

        function send_encrypt_cmd(file_name){
            $.ajax({
                url:"/encrypt",
                method: "GET",
                data: {'cmd': 'encrypt', 'filename': file_name}
            }).fail(function(data, textStatus, jqXHR){

            }).done(function(data, textStatus, jqXHR){
                if(data['success'] == true){
                    audio2.play();
                if(data['success'] == false){
                    audio3.play();
                    console.log(data);
                }
            }});
        }

        function send_decrypt_cmd(file_name){
            $.ajax({
                url:"/decrypt",
                method: "GET",
                data: {'cmd': 'decrypt', 'filename': file_name}
            }).fail(function(data, textStatus, jqXHR){

            }).done(function(data, textStatus, jqXHR){
                if(data['success'] == true){
                    audio2.play();
                if(data['success'] == false){
                    audio3.play();
                console.log(data);
            });
        }

        function find_key_words(text){
            if (text.toUpperCase().includes('ЗАШИФРОВАТЬ') || text.toUpperCase().includes('ENCRYPT') || text.toUpperCase().includes('ЗАКОДИРОВАТЬ') || text.toUpperCase().includes('ЗАШИФРУЙ') || text.toUpperCase().includes('ШИФРОВАТЬ') || text.toUpperCase().includes('КОДИРОВАТЬ') || text.toUpperCase().includes('ЗАШИФРОВКА')){
                audio1.play();
                return 1;
            }
            if (text.toUpperCase().includes('ПРИВЕТ') || text.toUpperCase().includes('HELLO')) {
                console.log('ПРИВЕТ!');
                audio0.play().catch(function(error) {
                    console.log(error);
                });
                return 3;
            }
            if (text.toUpperCase().includes('РАСШИФРОВАТЬ') || text.toUpperCase().includes('РАСКОДИРОВАТЬ') || text.toUpperCase().includes('DECRYPT') || text.toUpperCase().includes('РАСШИФРУЙ') || text.toUpperCase().includes('ДЕШИФРУЙ') || text.toUpperCase().includes('ДЕШИФРОВАТЬ') || text.toUpperCase().includes('ДЕШИФРИРОВАТЬ') || text.toUpperCase().includes('ДЕШИФРОВКА') || text.toUpperCase().includes('РАСШИФРОВКА')){
                audio1.play();
                return 2;
            }
        }

        function execute_cmd(cmd_num, text){
            switch(cmd_num){
                case 1: send_encrypt_cmd(text); break;
                case 2: send_decrypt_cmd(text); break;
            }
        }

        window.SpeechRecognition = window.webkitSpeechRecognition || window.SpeechRecognition;
        if ('SpeechRecognition' in window) {
          console.log("speech recognition API supported");
        } else {
          console.log("speech recognition API not supported");
        }
        const recognition = new window.SpeechRecognition();
        recognition.lang = 'ru-RU';
        recognition.continuous = true;

        recognition.onresult = (event) => {
          const speechToText = event.results[0][0].transcript;
          console.log(speechToText);
          if (operation > 0 && operation != 3){
            // отправить на сервер название файла
            execute_cmd(operation, speechToText);
            operation = 0;
          } else{
            //искать ключевые слова
            operation = find_key_words(speechToText);
          }
          recognition.stop();
        }

        recognition.onend = (event) =>{
            recognition.start();
        }
        recognition.start();
    </script>
</body>
</html>
